<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5298FF21E3FB22B005B3F2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5690B191E3D0A3C00C1BEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5690B321E3D0AB600C1BEAF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
